@model Slider

@{
    ViewData["Title"] = "Detail";
}

<h1>@Model.Title</h1>
<p>@Model.Subtitle</p>
<a class="btn btn-outline-info mx-2 btn-rounded" asp-controller="Service" asp-action="Index">go Back</a>



